*.config linguist-language=nextflow
modules/nf-core/** linguist-generated
subworkflows/nf-core/** linguist-generated
bin/gffcat linguist-language=julia
bin/haplotypestandardizer linguist-language=julia
bin/igvgen linguist-language=julia
bin/phylotreegen linguist-language=julia
bin/sequencetable linguist-language=julia
bin/vartable linguist-language=julia
