import java.time.*
Date now = new Date()

manifest {
    recurseSubmodules = true
}

process {
    // All-process defaults
    errorStrategy = 'ignore'

    // Per-process container environments
    // Listed alphabetical, by the tool suite's name
    withLabel: bam_readcount {
        container = 'mgibio/bam-readcount'
    }
    withLabel: canu {
        container = 'staphb/canu:2.1.1'
    }
    withLabel: edirect {
        container = 'ncbi/edirect:12.5'
    }
    withLabel: filtlong {
        container = 'staphb/filtlong:0.2.1'
    }
    withLabel: ivar {
        container = 'staphb/ivar:1.3'
    }
    withLabel: julia {
        errorStrategy = 'retry'
        maxRetries = 2
        container = 'millironx/julia:1.6.2'
    }
    withLabel: kraken {
        container = 'staphb/kraken2:2.1.2-no-db'
        memory = '100 GB'
    }
    withLabel: krakentools {
        conda = 'bioconda::krakentools=1.2'
    }
    withLabel: minimap {
        container = 'niemasd/minimap2_samtools:2.22_1.12'
    }
    withLabel: samtools {
        container = 'staphb/samtools:1.12'
    }
    withLabel: seqret {
        conda = 'bioconda::emboss=6.6.0'
    }
    withLabel: spades {
        container = 'staphb/spades:3.15.2'
    }
    withLabel: trimmomatic {
        container = 'staphb/trimmomatic:0.39'
    }
}

singularity {
    enabled = true
}

params {
    ont            = false
    pe             = false
    dev            = false
    devinputs      = 2
    genomeId       = 'NC_001437'
    help           = false
    outfolder      = ""
    readsfolder    = "."
    runname        = "jev-analysis"
    // Although I haven't seen it documented anywhere, 0 is unclassified reads
    // and 10239 is viral reads
    taxIdsToKeep    = '0 10239'
    threads         = 4
    tracedir        = '.trace'
    timestamp       = now.format('yyyyMMdd-HH-mm-ss')
    trimAdapters    = 'NexteraPE-PE.fa'
    trimMismatches  = 2
    trimPclip       = 30
    trimClip        = 10
    trimWinsize     = 50
    trimWinqual     = 15
    trimLeading     = 15
    trimTrailing    = 15
    trimCrop        = 0
    trimHeadcrop    = 0
    trimMinlen      = 100
    trimKeepPercent = 90
    trimTargetBases = 500000000
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

trace {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_trace.txt"
}

dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.svg"
}
