import java.time.*
Date now = new Date()

process {
    errorStrategy = 'finish'
    withName: kraken {
        container = 'docker://staphb/kraken2:2.1.2-no-db'
        memory = '100 GB'
    }
    withName: filterreads {
        conda = 'bioconda::krakentools=1.2'
    }
    withName: assembly {
        container = 'docker://greatfireball/canu'
    }
    withName: bwa {
        container = 'docker://staphb/bwa:0.7.17'
    }
    withName: sortsam {
        container = 'docker://staphb/samtools:1.12'
    }
    withName: reference {
        container = 'docker://ncbi/edirect:12.5'
    }
}
singularity {
    enabled = true
}
params {
    dev            = false
    devinputs      = 2
    help           = false
    outfolder      = ""
    readsfolder    = "."
    runname        = "jev-analysis"
    threads        = 4
    tracedir       = '.trace'
    timestamp      = now.format('yyyyMMdd-HH-mm-ss')
}
timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}
report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}
trace {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_trace.txt"
}
dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.svg"
}
