import java.time.*
Date now = new Date()

process {
    errorStrategy = 'finish'
    withName: reference_genome_pull {
        container = 'docker://ncbi/edirect:12.5'
    }
    withName: reference_genome_index {
        container = 'docker://biocontainers/bowtie2:v2.4.1_cv1'
    }
    withName: read_classification_ont {
        container = 'docker://staphb/kraken2:2.1.2-no-db'
        memory = '100 GB'
    }
    withName: read_filtering_ont {
        conda = 'bioconda::krakentools=1.2'
    }
    withName: assembly_ont {
        container = 'docker://staphb/canu:2.1.1'
    }
    withName: contigs_convert_fastq {
        container = 'library://millironx/default/julia:1.6.1'
    }
    withName: realign {
        container = 'docker://biocontainers/bowtie2:v2.4.1_cv1'
    }
    withName: sortsam {
        container = 'docker://staphb/samtools:1.12'
    }
    withName: sortreference {
        container = 'docker://staphb/samtools:1.12'
    }

}
singularity {
    enabled = true
}
params {
    dev            = false
    devinputs      = 2
    genomeId       = 'NC_001437'
    help           = false
    outfolder      = ""
    readsfolder    = "."
    runname        = "jev-analysis"
    // Although I haven't seen it documented anywhere, 0 is unclassified reads
    // and 10239 is viral reads
    taxIdsToKeep   = '0 10239'
    threads        = 4
    tracedir       = '.trace'
    timestamp      = now.format('yyyyMMdd-HH-mm-ss')
}
timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}
report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}
trace {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_trace.txt"
}
dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.svg"
}
