extends layout

block layout-content
  h1 #{refname} Results
  div.row
    div.col-xs-6
      div.panel.panel-primary
        div.panel-heading
          h2.panel-title Pipeline Results
        div.panel-body
          ul
            li
              a(href="/multiqc") MultiQC Report
    div.col-xs-6
      div.panel.panel-primary
        div.panel-heading
          h2.panel-title Sample Results
        div.panel-body
          table.table.table-striped.table-responsive.table-hover
            each sample in samples
              tr
                td=sample.samplename
                td
                  a(href=`/alignments/${sample.samplename}`) Alignment
                td
                  if sample.hastree
                    a(href=`/phylogenetics/${sample.samplename}`) Phylogenetic Tree
                  else
                    span.label.label-warning No phylogenetic results
