extends layout

block layout-content
  h1 #{samplename}
  div#phylotree

block layout-scripts
  script(src="/js/big-integer/BigInteger.min.js")
  script(src="/js/underscore/underscore-umd-min.js")
  script(src="/js/spin/spin.min.js")
  script(src="/js/d3/d3.min.js")
  script(src="/js/cjson/circular-json.js")
  script(src="/js/cblob/canvas-toBlob.js")
  script(src="/js/filesaver/FileSaver.min.js")
  script(src="https://cdn.jsdelivr.net/gh/DessimozLab/phylo-io@1.9/www/js/treecompare.js")
  script.
    treecomp = TreeCompare().init({
      treeHeight: 0.8*window.innerHeight
    });
    newick = "#{sampletree}";
    tree = treecomp.addTree(newick, undefined, 'single');
    treecomp.viewTree(tree.name, 'phylotree');
