extends layout

block layout-styles
  link(rel="stylesheet", href="/css/phylotree/phylotree.css", type="text/css")

block layout-content
  h1 #{samplename}
  div.group(role="group")
    button(type="button", onClick="zoomin()").btn
      i.fas.fa-search-plus
    button(type="button" onClick="zoomout()").btn
      i.fas.fa-search-minus
  div#phylotree

block layout-scripts
  script(src="/js/d3/d3.js")
  script(src="/js/underscore/underscore-umd-min.js")
  script(src="/js/phylotree/phylotree.js")
  script(src="/js/local/phylotree-utils.js")
  script.
    newick = "#{sampletree}";
    tree = new phylotree.phylotree(newick);
    rendered_tree = tree.render({
      container: "#phylotree"
    });
    $(tree.display.container).empty();
    $(tree.display.container).html(tree.display.show());
