// Per-process container environments
// Listed alphabetical, by the tool suite's name
process {
    withLabel: canu {
        container = 'quay.io/staphb/canu:2.1.1'
    }
    withLabel: cliquesnv {
        container = 'quay.io/biocontainers/cliquesnv:2.0.2--hdfd78af_0'
    }
    withLabel: edirect {
        container = 'docker.io/ncbi/edirect:12.5'
    }
    withLabel: fastqc {
        container = 'quay.io/staphb/fastqc:0.11.9'
    }
    withLabel: julia {
        container = 'quay.io/millironx/julia_bam-readcounts:35adec6'
    }
    withLabel: kraken {
        container = 'quay.io/staphb/kraken2:2.1.2-no-db'
    }
    withLabel: krakentools {
        container = 'quay.io/biocontainers/krakentools:1.2--pyh5e36f6f_0'
    }
    withLabel: mafft {
        container = 'quay.io/staphb/mafft:7.475'
    }
    withLabel: minimap {
        container = 'docker.io/niemasd/minimap2_samtools:2.22_1.12'
    }
    withLabel: multiqc {
        container = 'docker.io/ewels/multiqc:v1.11'
    }
    withLabel: nanofilt {
        container = 'quay.io/biocontainers/nanofilt:2.8.0--py_0'
    }
    withLabel: nanosim {
        container = 'quay.io/millironx/nanosim:5fcb2b6'
    }
    withLabel: raxml {
        container = 'docker.io/evolbioinfo/raxml-ng:v1.0.3'
    }
    withLabel: samtools {
        container = 'quay.io/staphb/samtools:1.12'
    }
    withLabel: seqtk {
        container = 'quay.io/staphb/seqtk:1.3'
    }
    withLabel: seqret {
        container = 'quay.io/biocontainers/emboss:6.6.0--h8719169_4'
    }
    withLabel: spades {
        container = 'quay.io/staphb/spades:3.15.2'
    }
    withLabel: trimmomatic {
        container = 'quay.io/staphb/trimmomatic:0.39'
    }
}
