// Global default parameters
params {

    // Input options
    input          = '.'
    sra            = false
    platform       = ''
    pe             = (params.platform == 'pe'  || params.platform == 'illumina')
    ont            = (params.platform == 'ont' || params.platform == 'nanopore')

    // Reference genome options
    genome         = 'NC_001437.1' // JEV RefSeq

    // Kraken 2 options
    kraken2_db     = ''
    keep_taxid     = '0 10239' // 0 = Unclassified, 10239 = Viral

    // Read trimming options (shared)
    trim_minlen      = (params.pe) ? 100 : 300
    trim_headcrop    = 0

    // Illumina trimming options (Trimmomatic)
    trim_adapters    = 'NexteraPE-PE.fa'
    trim_mismatches  = 2
    trim_pclip       = 30
    trim_clip        = 10
    trim_winsize     = 50
    trim_winqual     = 15
    trim_leading     = 15
    trim_trailing    = 15
    trim_crop        = 0

    // ONT-specific trimming options (Filtlong)
    trim_maxlen       = 0
    trim_meanqual     = 7
    trim_mingc        = 0
    trim_maxgc        = 0
    trim_tailcrop     = 0

    // Canu ONT assembly options
    canu_corrected_error_rate = 0.144
    canu_min_read_length      = 1000
    canu_min_overlap_length   = params.canu_min_read_length / 2
    canu_stop_on_low_coverage = 10

    // SPAdes Illumina assembly options
    spades_mode = 'rnaviral'

    // Variant calling options
    variant_quality      = (params.pe) ? 30 : 21
    variant_depth        = (params.pe) ? 10 : 15
    variant_position     = 0.1
    variant_frequency    = 0.05
    variant_significance = 1e-3

    // Haplotyping options
    haplotype_significance = 0.05
    haplotype_depth        = 10

    // Phylogenetics options
    phylogenetic_bootstraps = 1000

    // Boilerplate options
    outdir           = './results'
    tracedir         = "${params.outdir}/.trace"
    publish_dir_mode = 'copy'
    help             = false

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                   = '750.GB'
    max_cpus                     = 72
    max_time                     = '240.h'

    // Step-skipping options
    skip_trimming     = false
    skip_filtering    = false
    skip_assembly     = false
    skip_haplotype    = false
}
