params {
    input       = 'https://raw.githubusercontent.com/ksumngs/nf-test-datasets/yavsap/samplesheet/nanopore.tsv'
    platform    = 'nanopore'
    paired      = false
    interleaved = false

    variant_depth = 7
    variant_frequency = 0.001
    variant_significance = 0.25

    includeConfig 'test_params_common.config'
}

process {
    includeConfig 'test_process_common.config'
}
