profiles {
    test {
        params {
            genome      = 'NC_045512.2'
            genome_list = 'sc2'

            keep_taxid      = '0 1'

            trim_minlen     = 100
            trim_winsize    = 50

            variant_quality      = 10
            variant_depth        = 5
            variant_position     = 0.01
            variant_frequency    = 0.01
            variant_significance = 0.1

            haplotype_depth        = 10
            haplotype_significance = 0.1

            cliquesnv_method = 'fast'
            haplotype_method = 'raw'

            mafft_method = '--retree 1 --maxiterate 0'

            phylogenetic_bootstraps = 10
        }

        process {
            errorStrategy = 'terminate'
        }
    }

    gh {
        params {
            max_cpus   = 2
            max_memory = 6.GB
            max_time   = 6.h
        }
    }
}
