profiles {
    ont {
        params {
            genome    = 'MH258848.1'
            platform  = 'nanopore'
            pe        = false
            ont       = true

            trim_winqual = 15
        }

    }
    pe {
        params {
            platform  = 'illumina'
            pe        = true
            ont       = false

            trim_winqual = 0.7
        }
    }
    test {
        params {
            input           = 'TESTING'
            sra             = true
            keep_taxid      = '10239'

            trim_minlen     = 100
            trim_winsize    = 50

            canu_corrected_error_rate = 0.2
            canu_min_read_length      = 100
            canu_min_overlap_length   = 50
            canu_stop_on_low_coverage = 3

            variant_quality      = 12
            variant_depth        = 10
            variant_position     = 0.1
            variant_frequency    = 0.05
            variant_significance = 1e-5

            haplotype_depth        = 50
            haplotype_significance = 0.05

            phylogenetic_bootstraps = 100
        }
        gh {
            max_cpus   = 2
            max_memory = 6.GB
            max_time   = 20.m
        }

        process {
            errorStrategy = 'terminate'
        }
    }
}
