params {
    max_cpus   = 4
    max_memory = 6.GB
    max_time   = 6.h

    input        = 'ONT_TESTING'
    genome       = 'MH258848.1'
    sra          = true
    platform     = 'nanopore'
    pe           = false
    ont          = true
    keep_taxid   = '10239'
    kraken2_db   = './kraken2db'
    canu_corrected_error_rate = 0.2
    canu_min_read_length      = 300
    canu_min_overlap_length   = 100
    canu_stop_on_low_coverage = 3
    haplotype_minimum         = 1
}

process {
    errorStrategy = 'terminate'
    withName: classification {
        memory = '0.75 GB'
    }
}
