params {
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    input        = 'ONT_TESTING'
    genome       = 'MH258848.1'
    sra          = true
    platform     = 'nanopore'
    pe           = false
    ont          = true
    keep_taxid   = '10239'
    kraken2_db   = '/kraken2-db'
    canu_corrected_error_rate = 0.2
    canu_min_read_length      = 300
    canu_min_overlap_length   = 100
    canu_stop_on_low_coverage = 3
    haplotype_minimum         = 1
    envWhitelist           = 'KRAKEN2_DEFAULT_DB,KRAKEN2_DB_PATH,NCBI_API_KEY'
    docker.runOptions      = "-v /kraken2_db:/kraken2_db:ro"
    singularity.runOptions = "--bind /kraken2_db"
    podman.runOptions      = "-v /kraken2_db:/kraken2_db:ro,z"
}

process {
    errorStrategy = 'terminate'
    withName: classification {
        memory = '0.75 GB'
    }
}
