profiles {
    test {
        params {
            keep_taxid      = '0 1'

            trim_minlen     = 100
            trim_winsize    = 50

            variant_quality      = 10
            variant_depth        = 5
            variant_position     = 0.01
            variant_frequency    = 0.01
            variant_significance = 0.1

            haplotype_depth        = 10
            haplotype_significance = 0.1

            phylogenetic_bootstraps = 100
        }

        process {
            errorStrategy = 'terminate'
        }
    }

    gh {
        params {
            max_cpus   = 2
            max_memory = 6.GB
            max_time   = 20.m
        }
    }
}
