params {
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    input        = 'PE_TESTING'
    sra          = true
    platform     = 'illumina'
    pe           = true
    ont          = false
    keep_taxid   = '10239'
    kraken2_db   = '/kraken2-db'
    trim_minlen  = 100
    trim_winsize = 50
    trim_winqual = 15
    envWhitelist           = 'KRAKEN2_DEFAULT_DB,KRAKEN2_DB_PATH,NCBI_API_KEY'
    docker.runOptions      = "-v ${params.kraken2_db}:${params.kraken2_db}:ro"
    singularity.runOptions = "--bind ${params.kraken2_db}"
    podman.runOptions      = "-v ${params.kraken2_db}:${params.kraken2_db}:ro,z"
}

process {
    errorStrategy = 'terminate'
    withName: classification {
        memory = '0.75 GB'
    }
}
